<a href="https://colab.research.google.com/github/polock11/power_bi/blob/main/sale_data_power_bi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pip uninstall pandasql
# pip uninstall pandas
# pip install pandas===2.0.3
# pip install pandasql===0.7.3
# restart runtime

import pandas as pd
import pandasql as ps
from pandasql import sqldf
from sqlalchemy import text

In [43]:
orders = pd.read_csv('orders.csv')
people = pd.read_csv('people.csv')
returns = pd.read_csv('returns.csv')

In [ ]:
orders = orders.drop(['postal_code', 'row_id'], axis=1)
orders.head()

In [ ]:
orders.info()

In [ ]:
orders.isnull().sum()

In [45]:
#query = "select order_id, count(*) from orders group by order_id having count(*) > 1"
#query = 'select * from orders where order_id = "AE-2015-GH4665138-42351"'
#pysqldf = lambda q: sqldf(q, globals())
#query = ''' select * from orders where order_id = "CA-2012-SA20830140-41210" '''

query  = ''' select orders.*, returned, returns.region as returned_region from orders left join returns on orders.order_id = returns.order_id '''

df = ps.sqldf(query, locals())

In [ ]:
#q  = '''select count(1) from df where returned = 1 ''' US-2015-TC2114555-42166	AE-2014-MY7380138-42004
#q = '''select order_id, count(*) from df where returned = 1 group by order_id having count(*) > 1 '''
#query = 'select * from orders where order_id = "AE-2015-GH4665138-42351"'
q = 'select * from df where order_id = "US-2015-TC2114555-42166"'
ps.sqldf(q, locals())

In [ ]:
q  = '''select returned_region,* from df where returned_region != 'N/A' '''
ps.sqldf(q, locals())

In [ ]:
df.isnull().sum()

In [48]:
df['returned'].fillna(0, inplace=True)
df['returned_region'].fillna('N/A', inplace=True)

In [ ]:
df[df['returned_region'].isna()]

In [56]:
df['sales'] = df['sales'].round(2)
df['profit'] = df['profit'].round(2)
df['shipping_cost'] = df['shipping_cost'].round(2)

In [ ]:
df.head()

In [58]:
df.to_csv('final_sale_data.csv')